{% extends 'base.html' %}

{% block title %}Project Add{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Project Add</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.name.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control ">{{ form.name }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.description.label }}</label>
                                    <div class="col-9">
                                        <div class="">{{ form.description }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.id_url.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control ">{{ form.id_url }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.users.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control text-desc">{{ form.users }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-3 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Add Project
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}