{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{ project.name }}</h4>
                            {% if is_admin %}
                            <a href="/projects/{{ project.id_url }}/edit" class="btn btn-primary">Edit</a>
                            <a href="/projects/{{ project.id_url }}/delete" class="btn btn-primary">Delete</a>
                            {% endif %}
                            <hr>
                            <div class="card-text">
                                {% autoescape off %}
                                {{ project.description }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Tasks</h5>
                            {% if is_admin %}
                            <a href="/projects/{{ project.id_url }}/add" class="btn btn-primary">Add</a>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for task in tasks %}
                            <div class="card border-primary project">
                                <div class="card-body">
                                    <h5 class="card-title">{{ task.theme }}</h5>
                                    <p class="card-text">{{ task.description }}</p>
                                    <a href="/projects/{{project.id_url}}/{{task.id}}" class="btn btn-primary">Open</a>
                                    {% if is_admin %}
                                    <a href="/projects/{{ project.id_url }}/{{task.id}}/edit" class="btn btn-primary">Edit</a>
                                    <a href="/projects/{{ project.id_url }}/{{task.id}}/delete" class="btn btn-primary">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if projects.has_other_pages %}
                    <nav aria-label="...">
                        <ul class="pagination">
                            {% if projects.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ projects.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            {% endif %}

                            {% for i in projects.paginator.page_range %}
                            {% if projects.number == i %}
                            <li class="page-item active disable">
                                <a class="page-link" href="">{{ i }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if projects.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}