{% extends 'base.html' %}

{% block title %}Task Add{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Task Add</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.theme.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.theme }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.description.label }}</label>
                                    <div class="col-9">
                                        <div class="text-desc form-control here">{{ form.description }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.start_date.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.start_date }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.end_date.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.end_date }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.type.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.type }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.priority.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.priority }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.estimated_time.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.estimated_time }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.executor.label }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.executor }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-3 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}