{% extends 'base.html' %}

{% block title %}{{ task.theme }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ task.theme }} - Log</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="comment-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4
                                            class="reviews text-capitalize">Logs</h4></a></li>
                                    {% if is_executor %}
                                    <li><a href="#add-comment" role="tab" data-toggle="tab"><h4
                                            class="reviews text-capitalize">Add log</h4></a></li>
                                    {% endif %}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="comments-logout">
                                        <ul class="media-list">
                                            {% for log in logs %}
                                            <li class="media">
                                                {% if log.user.profile.photo %}
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle"
                                                         src="{{ log.user.profile.photo.url }}"
                                                         alt="profile">
                                                </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <div class="well well-lg">
                                                        <h4 class="media-heading text-uppercase reviews">
                                                            {{ log.user }}</h4>
                                                        <p>Time - {{log.time}} h.</p>
                                                        <p class="media-comment">
                                                            {{ log.comment }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if is_executor %}
                                    <div class="tab-pane" id="add-comment">
                                        <form method="POST" class="post-form">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="row form-group">
                                                        <label class="col-3 col-form-label">Comment</label>
                                                        <div class=" col-9 form-control here text-desc">
                                                            {{ form.comment }}
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-3 col-form-label">Time, h.</label>
                                                        <div class="col-9 form-control here text-desc">
                                                            {{ form.time }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="save btn btn-primary">Add</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}