{% extends 'base.html' %}

{% block title %}{{ task.theme }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ task.theme }}</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Description</label>
                                <div class="col-9">
                                    <div class="form-control here text-desc">{{ task.description }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Start Date</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.start_date }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">End Date</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.end_date }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Spend Time, h.</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ spend_time }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Type</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.type }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Priority</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.priority }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Estimated Time, h.</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.estimated_time }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Creator</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ task.creator }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Executor</label>
                                <div class="col-9">
                                    <div class="form-control here">{{task.executor}}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-3 col-8">
                                    <a href="{{request.path_info}}/edit" class="btn btn-primary">Edit</a>
                                    {% if is_admin %}
                                    <a href="{{request.path_info}}/delete" class="btn btn-primary">Delete</a>
                                    {% endif %}
                                    <a href="{{request.path_info}}/log" class="btn btn-primary">Logs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="comment-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4
                                            class="reviews text-capitalize">Comments</h4></a></li>
                                    <li><a href="#add-comment" role="tab" data-toggle="tab"><h4
                                            class="reviews text-capitalize">Add comment</h4></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="comments-logout">
                                        <ul class="media-list">
                                            {% for comment in comments %}
                                            <li class="media">
                                                {% if comment.user.profile.photo %}
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle"
                                                         src="{{ comment.user.profile.photo.url }}"
                                                         alt="profile">
                                                </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <div class="well well-lg">
                                                        <h4 class="media-heading text-uppercase reviews">
                                                            {{ comment.user }}</h4>
                                                        <p>{{comment.dataTime}}</p>
                                                        <p class="media-comment">
                                                            {{ comment.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="add-comment">
                                        <form method="POST" class="post-form">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="form-control here text-desc">
                                                        {{ form.text }}
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="save btn btn-primary">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}