{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Login</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="{% url 'login' %}">{% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.username.label_tag }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.username }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form.password.label_tag }}</label>
                                    <div class="col-9">
                                        <div class="form-control here">{{ form.password }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-3 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}