{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if user.profile.photo %}
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Photo</label>
                                <div class="col-9">
                                    <img class="img-thumbnail" src="{{ user.profile.photo.url }}"/>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-3 col-form-label">User Name</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.username }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">First Name</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.first_name }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Last Name</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.last_name }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Email</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.email }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Position</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.profile.position }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Birth Date</label>
                                <div class="col-9">
                                    <div class="form-control here">{{ user.profile.birth_date }}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Status</label>
                                <div class="col-9">
                                    <div class="form-control here">
                                        {% for group in user_groups %}
                                        {{ group }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}