body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding-bottom: 30px;
}
.navbar {
    margin-bottom: 30px;
}
.img-thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.project {
    margin-bottom: 15px;
}

.text-desc {
    height: auto !important;
}

label {
    font-weight: 400 !important;
}

#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }

.tab-content {
    padding: 30px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

textarea, input, select {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
}

textarea {
    resize: none;
}
.filter-col{
    padding-left:10px;
    padding-right:10px;
}
.panel {
    margin-bottom: 0 !important;
}
.advance {
    margin-bottom: 25px !important;
}