{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{{selected_user}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Logs</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="filter-panel" class="collapse filter-panel">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form method="POST" class="post-form">
                                            {% csrf_token %}
                                            {% if is_admin %}
                                            <div class="form-group">
                                                <label class="filter-col">{{ form.user.label }}</label>
                                                <div class="">
                                                    <div class="form-control here">{{ form.user }}</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label class="filter-col">{{ form.task.label }}</label>
                                                <div class="">
                                                    <div class="form-control here">{{ form.task }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default filter-col">
                                                    <span class="glyphicon glyphicon-record"></span> Save Settings
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary advance" data-toggle="collapse"
                                    data-target="#filter-panel">
                                <span class="glyphicon glyphicon-cog"></span> Advanced Search
                            </button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="comment-tabs">
                                <ul class="media-list">
                                    {% if not logs %}
                                    You don't have logs
                                    {% endif %}
                                    {% for log in logs %}
                                    <li class="media">
                                        {% if log.user.profile.photo %}
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle"
                                                 src="{{ log.user.profile.photo.url }}"
                                                 alt="profile">
                                        </a>
                                        {% endif %}
                                        <div class="media-body">
                                            <div class="well well-lg">
                                                <h4 class="media-heading text-uppercase reviews">
                                                    {{ log.user }}</h4>
                                                <p>Task - {{log.task}} h.</p>
                                                <p>Time - {{log.time}} h.</p>
                                                <p class="media-comment">
                                                    {{ log.comment }}
                                                </p>
                                                <a href="/projects/{{log.task.project.id_url}}/{{log.task.id}}"
                                                   class="btn btn-primary">Open task</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}